.Stack {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Justify content */

.Stack.JustifyContentAround {
    justify-content: space-around;
}

.Stack.JustifyContentBetween {
    justify-content: space-between;
}

.Stack.JustifyContentEvenly {
    justify-content: space-evenly;
}

.Stack.JustifyContentStart {
    justify-content: flex-start;
}

.Stack.JustifyContentCenter {
    justify-content: center;
}

.Stack.JustifyContentEnd {
    justify-content: flex-end;
}

.Stack.JustifyContentStretch {
    justify-content: stretch;
}

/** Align items */

.Stack.AlignItemsAround {
    align-items: space-around;
}

.Stack.AlignItemsBetween {
    align-items: space-between;
}

.Stack.AlignItemsEvenly {
    align-items: space-evenly;
}

.Stack.AlignItemsStart {
    align-items: flex-start;
}

.Stack.AlignItemsCenter {
    align-items: center;
}

.Stack.AlignItemsEnd {
    align-items: flex-end;
}

.Stack.AlignItemsStretch {
    align-items: stretch;
}

/** Justify self */

.Stack.JustifySelfAround {
    justify-self: space-around;
}

.Stack.JustifySelfBetween {
    justify-self: space-between;
}

.Stack.JustifySelfEvenly {
    justify-self: space-evenly;
}

.Stack.JustifySelfStart {
    justify-self: flex-start;
}

.Stack.JustifySelfCenter {
    justify-self: center;
}

.Stack.JustifySelfEnd {
    justify-self: flex-end;
}

/** Align self */

.Stack.AlignSelfStretch {
    align-self: stretch;
}

.Stack.AlignSelfAround {
    align-self: space-around;
}

.Stack.AlignSelfBetween {
    align-self: space-between;
}

.Stack.AlignSelfEvenly {
    align-self: space-evenly;
}

.Stack.AlignSelfStart {
    align-self: flex-start;
}

.Stack.AlignSelfCenter {
    align-self: center;
}

.Stack.AlignSelfEnd {
    align-self: flex-end;
}

.Stack.AlignSelfStretch {
    align-self: stretch;
}

/** Scroll Behavior */

.Stack.ScrollHorizontal {
    overflow-x: scroll;
}

.Stack.ScrollVertical {
    overflow-y: scroll;
}

.Stack.ScrollBoth {
    overflow: scroll;
}

/** Wrap Behavior */

.Stack.Wrap {
    flex-wrap: wrap;
}

.Stack.WrapReverse {
    flex-wrap: wrap-reverse;
}

/** Horizontal/Vertical stacks */

.HStack {
    flex-direction: row;
    width: 100%;
}

.VStack {
    flex-direction: column;
    height: 100%;
}
